@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
  font-family: "Raleway", Helvetica, sans-serif;
  font-weight: 400;
  margin: 0;
}

* {
  box-sizing: unset;
}

.Zindex {
  z-index: 2;
}

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

/* Style the header links */
.header-new {
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 25px;
  line-height: 25px;
  margin: 0px 15px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

/* Change the background color on mouse-over */
.header a:hover {
  /* border-bottom: #030303 solid 1px; */
  color: black;
}

/* Style the active/current link*/
.profilelogo {
  width: 37px;
  height: 37px;
  display: flex;
  margin-right: 10px;
}

/* Float the link section to the right */
.header-mid {
  /* float: right; */
  position: relative;
  display: flex;
}

.header-right-logo {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.header-mid a {
  position: relative;
}

.header-mid a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: rgb(0, 128, 255);
  border-radius: 5px;
  transform: scaleX(0);
  transition: transform 700ms;
}

.header-mid a:hover::after {
  transform: scaleX(1);
}

.header-1 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 22px;

}

.row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.main-container {
  /* background-color: #c58af9; */
  background-color: rgb(152, 150, 240);
  transition: 800ms;
}

.section-card-container {
  /* background-color: #f1f1f1; */
  width: 100%;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 100px;
  padding: 50px 0px;
  transition: background-color 400ms;
}

.product-photo {
  width: 400px;
  /* -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75); */
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.75);
}

.description-container {
  margin-top: 20px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.name {
  font-size: 70px;
}

.price {
  margin-top: 10px;
  font-weight: bold;
}

.grey {
  background-color: #BFC0BB;
  transition: 600ms;
}

.grey div {
  color: black;
}

.grey2 {
  background-color: #525C62;
  transition: 600ms;
}

.grey2 div {
  color: white;
}

.white {
  background-color: #EFEFEF;
  transition: 600ms;
}

.white div {
  color: black;
}

.section-card-container:hover {
  background-color: rgb(90, 89, 143);
  transition: 700ms;
}

.grey:hover {
  background-color: #9d9d9b;
}

.grey2:hover {
  background-color: #495055;
}

.white:hover {
  background-color: #c4c0c0;
  transition: 600ms #c4c0c0;
}

.ham {
  display: none;
  margin-right: 20px;
}

.bannercontainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

.manga-background {
  background-image: url("/assets/slide3-background.jpg");
  background-repeat: no-repeat;
  background-color: black;
  filter: brightness(50%);
}

.txt {
  font-size: 50px;
  font-weight: 800;
  padding: 20px;
  color: white;

}

#myLinks {
  display: flex;
  flex-direction: column;
  display: none;
  border-radius: 10px;
  text-align: left;
  line-height: 40px;
  color: white;
  padding: 14px 16px;
  font-size: 17px;
  overflow: hidden;
  background-color: #f1f1f1;
  position: relative;
}

#myLinks a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  display: block;
  font-size: 20px;
}

#myLinks a:active {
  background-color: #6a6a6a;
  color: white;
}

.bannercontainer {
  position: relative;
}

.banner {
  position: absolute;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.53);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bannertxt {
  font-size: 100px;
  font-weight: 800;
  color: white;
}

.bannertxt-sm {
  font-size: 50px;
  color: white;
  font-weight: 400;
  border-top: white solid 2px;
}

.header-1 p {
  background-color: rgb(237, 156, 5);
  color: white;
  padding: 5px;
}



.links {
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5px;
  position: absolute;
  left: 0;
}

.link-logo a svg {
  fill: white;
  transition: fill 300ms;
  padding: 10px;
}


.link-logo:hover a svg {
  fill: black;
}
.footer {
  background-color: #14213d;
  display: flex;
  height: 300px;
  position: relative;
}
.footer-main {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  color: white;
}

.footer-mid {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 400px;

}

.footer-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 20px;
  padding: 30px;
  margin-top: 20px;
}

.footer-right a{
  margin-bottom: 30px;
  text-decoration: none;
  color: white;
}


@media only screen and (max-width:900px) {
  .row {
    flex-direction: column;
  }

  .header-mid {
    display: none;
  }

  .ham {
    display: block;
  }

  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-mid {
    float: none;
  }

  .card {
    margin: 20px 0px;
  }

  .bannertxt {
    font-size: 22px;
  }

  .bannertxt-sm {
    font-size: 20px;
  }

  a.active {
    display: none;
  }
}