@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
  font-family: "Raleway", Helvetica, sans-serif;
  font-weight: 400;
  margin: 0;
}

.loader-container{
  background: #ffffff;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 5;
  top: 0;
  transition: opacity 300ms;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.loader-container img{
  width: 150px;
  height: auto;
  border-radius: 10%;
}
.loader-container p{
  margin-top: 10px;
}
* {
  box-sizing: unset;
}

.Zindex {
  z-index: 2;
}



.row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.main-container {
  /* background-color: #c58af9; */
  transition: 800ms;
}

.section-card-container {
  background-color: #6F70AB;
  width: 100%;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 100px;
  padding: 50px 0px;
  transition: background-color 400ms;
}

.product-photo {
  width: 400px;
  /* -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75); */
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.75);
}

.description-container {
  margin-top: 20px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.name {
  font-size: 70px;
}

.price {
  margin-top: 10px;
  font-weight: bold;
}

.grey {
  background-color: #BFC0BB;
  transition: 600ms;
}

.grey div {
  color: black;
}

.grey2 {
  background-color: #525C62;
  transition: 600ms;
}

.grey2 div {
  color: white;
}

.white {
  background-color: #EFEFEF;
  transition: 600ms;
}

.white div {
  color: black;
}

.section-card-container:hover {
  background-color: rgb(90, 89, 143);
  transition: 700ms;
}

.grey:hover {
  background-color: #9d9d9b;
}

.grey2:hover {
  background-color: #495055;
}

.white:hover {
  background-color: #c4c0c0;
  transition: 600ms #c4c0c0;
}

.highlight-strip{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 25px;
  padding: 30px;
  background-color: white;
  height: 100px;
}
.highlight-strip p{
  margin: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.highlight-strip img{
  width: 100px;
  height: auto;
}
.bannercontainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

.manga-background {
  background-image: url("/assets/slide3-background.jpg");
  background-repeat: no-repeat;
  background-color: black;
  filter: brightness(50%);
}

.txt {
  font-size: 50px;
  font-weight: 800;
  padding: 20px;
  color: white;
}

#myLinks {
  display: flex;
  flex-direction: column;
  display: none;
  border-radius: 10px;
  text-align: left;
  line-height: 40px;
  color: white;
  padding: 14px 16px;
  font-size: 17px;
  overflow: hidden;
  background-color: #f1f1f1;
  position: relative;
}

#myLinks a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  display: block;
  font-size: 20px;
}

#myLinks a:active {
  background-color: #6a6a6a;
  color: white;
}

.bannercontainer {
  position: relative;
}

.banner {
  position: absolute;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.53);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bannertxt {
  font-size: 90px;
  font-weight: 800;
  color: white;
}

.bannertxt-sm {
  font-size: 50px;
  color: white;
  font-weight: 400;
  border-top: white solid 2px;
}

.links {
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5px;
  position: absolute;
  left: 0;
  z-index: 2;
}

.link-logo a svg {
  fill: white;
  transition: fill 300ms;
  padding: 10px;
}


.link-logo:hover a svg {
  fill: black;
}

.footer {
  background-color: #14213d;
  display: flex;
  height: 300px;
  position: relative;
}


.footer-mid {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  width: 100%;
  color: white;
  height: 100%;
}

.footer-mid p {
  margin-top: 10px;
}

.footer-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 20px;
  position: absolute;
  right: 0;
  height: 100%;
  justify-content: space-around;
  margin-right: 20px;
}

.footer-right a {
  /* margin-bottom: 30px; */
  text-decoration: none;
  color: white;
}

.payment_icons {
  margin-top: 10px;
}

@media only screen and (max-width:900px) {
  .row {
    flex-direction: column;
  }

  .header-mid {
    display: none;
  }

  .ham {
    display: block;
  }

  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-mid {
    float: none;
  }

  .card {
    margin: 20px 0px;
  }

  .bannertxt {
    font-size: 22px;
  }

  .bannertxt-sm {
    font-size: 20px;
  }

  a.active {
    display: none;
  }
}